<div class="col-10 mx-auto">
    <div class="card">
      <span class="text-900 text-xl font-bold mb-4 block">Create Class</span>
      <form [formGroup]="classForm" (ngSubmit)="createClass()">
        <div class="grid">
          <div class="col-12 lg:col-12">
            <div class="grid formgrid p-fluid">
              <div class="field mb-4 col-12 md:col-6">
                <label for="name" class="font-medium text-900">Name</label>
                <input id="name" type="text" pInputText formControlName="name">
                <small *ngIf="classForm.get('name')?.hasError('required') && (classForm.get('name')?.dirty || classForm.get('name')?.touched)" class="ng-dirty ng-invalid">
                  Name is required.
                </small>
              </div>
              <div class="field mb-4 col-12 md:col-6">
                <label for="studentLimit" class="font-medium text-900">Capacity</label>
                <input id="studentLimit" type="number" pInputText formControlName="studentLimit">
                <small *ngIf="classForm.get('studentLimit')?.hasError('required') && (classForm.get('studentLimit')?.dirty || classForm.get('studentLimit')?.touched)" class="ng-dirty ng-invalid">
                  Capacity is required.
                </small>
              </div>
              <div class="field mb-4 col-12 md:col-6">
                <label for="currentStudents" class="font-medium text-900">Current Students</label>
                <input id="currentStudents" type="number" pInputText formControlName="currentStudents">
                <small *ngIf="classForm.get('currentStudents')?.hasError('required') && (classForm.get('currentStudents')?.dirty || classForm.get('currentStudents')?.touched)" class="ng-dirty ng-invalid">
                  Current Students is required.
                </small>
              </div>
              <div class="field mb-4 col-12 md:col-12">
                <label for="grade" class="font-medium text-900">Grade</label>
                <p-dropdown inputId="grade" [options]="grades" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" formControlName="gradeCode">
                  <ng-template let-grade pTemplate="item">
                    <div class="flex align-items-center">
                      <div>{{ grade.name }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
              <div class="field mb-4 col-12 md:col-12">
                <label for="courses" class="font-medium text-900">Courses</label>
                <p-multiSelect 
                [options]="courses" 
                optionLabel="label" 
                optionValue="value" 
                formControlName="courseCodes" 
                defaultLabel="Select Courses" 
                filterBy="label">
              </p-multiSelect>
              
              </div>
              <div class="col-12">
                <button pButton pRipple label="Create" type="submit" class="w-auto mt-3" [disabled]="classForm.invalid || classForm.pending"></button>
              </div>
             
              
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  