<div class="col-10 mx-auto">
    <div class="card">
        <span class="text-900 text-xl font-bold mb-4 block">Update Administrative Staff</span>
        <form [formGroup]="staffForm" (ngSubmit)="updateStaff()">
            <div class="grid formgrid p-fluid">
                <div class="field mb-4 col-12 md:col-6">
                    <label for="firstName" class="font-medium text-900">First Name</label>
                    <input id="firstName" type="text" pInputText formControlName="firstName">
                    <small class="p-error" *ngIf="staffForm.get('firstName')?.hasError('required') && (staffForm.get('firstName')?.dirty || staffForm.get('firstName')?.touched)">First Name is required.</small>
                </div>
                <div class="field mb-4 col-12 md:col-6">
                    <label for="lastName" class="font-medium text-900">Last Name</label>
                    <input id="lastName" type="text" pInputText formControlName="lastName">
                    <small class="p-error" *ngIf="staffForm.get('lastName')?.hasError('required') && (staffForm.get('lastName')?.dirty || staffForm.get('lastName')?.touched)">Last Name is required.</small>
                </div>
                <div class="field mb-4 col-12 md:col-6">
                    <label for="email" class="font-medium text-900">Email</label>
                    <input id="email" type="email" pInputText formControlName="email">
                    <small class="p-error" *ngIf="staffForm.get('email')?.hasError('required') && (staffForm.get('email')?.dirty || staffForm.get('email')?.touched)">Valid email is required.</small>
                </div>
                <div class="field mb-4 col-12 md:col-6">
                    <label for="phone" class="font-medium text-900">Phone</label>
                    <input id="phone" type="text" pInputText formControlName="phone">
                    <small class="p-error" *ngIf="staffForm.get('phone')?.hasError('required') && (staffForm.get('phone')?.dirty || staffForm.get('phone')?.touched)">Phone number is required.</small>
                </div>
                <div class="field mb-4 col-12 md:col-6">
                    <label for="role" class="font-medium text-900">Role</label>
                    <input id="role" type="text" pInputText formControlName="role">
                    <small class="p-error" *ngIf="staffForm.get('role')?.hasError('required') && (staffForm.get('role')?.dirty || staffForm.get('role')?.touched)">Role is required.</small>
                </div>
                <div class="col-12">
                    <button pButton pRipple label="Update" type="submit" class="w-auto mt-3" [disabled]="staffForm.invalid"></button>
                </div>
            </div>
        </form>
    </div>
</div>
