<div class="card">
    <p-tabView orientation="left">
        <p-tabPanel header="Details" class="line-height-3 m-0">
            <p-progressBar *ngIf="!student" mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
            <div class="col">
                <div class=" p-3 border-round-sm  ">
                    <div *ngIf="student" class="text-center mb-4  ">
                        <p-avatar
                            [image]="student.photo"
                            size="xlarge"
                            shape="circle"
                        >
                        </p-avatar>
                    </div>
                    <div *ngIf="student" class="text-center mb-4  ">
                        <span class="text-900 font-medium text-4xl mb-4">{{student.firstName}} </span>
                        <span class="text-primary font-medium text-4xl mb-4"> {{student.lastName}}</span>
                    </div>

                    <hr><br/>
                    <div class="grid  formgrid p-fluid" *ngIf="student">

                        <div class="field mb-4 col-12 md:col-6">
                            <label for="studentCode" class="font-bold text-900 mr-4" style="font-size: 18px;">Code  :  </label>
                            <span id="studentCode" style="font-size: 18px;">{{student.studentCode}}</span>
                        </div>
                        <div class="field mb-4 col-12 md:col-6">
                            <label for="cne" class="font-bold text-900 mr-4" style="font-size: 18px;">CNE  :  </label>
                            <span id="cne" style="font-size: 18px;">{{student.cne}}</span>
                        </div>
                        <div class="field mb-4 col-12 md:col-6">
                            <label for="lastName" class="font-bold text-900 mr-4" style="font-size: 18px;">Last Name  :  </label>
                            <span id="lastName" style="font-size: 18px;">{{student.lastName}}</span>
                        </div>
                        <div class="field mb-4 col-12 md:col-6">
                            <label for="firstName" class="font-bold text-900 mr-4" style="font-size: 18px;">First Name  :  </label>
                            <span id="firstName" style="font-size: 18px;">{{student.firstName}}</span>
                        </div>
                        <div class="field mb-4 col-12 md:col-6">
                            <label for="dateOfBirth" class="font-bold text-900 mr-4" style="font-size: 18px;">Date Of Birth  :  </label>
                            <span id="dateOfBirth" style="font-size: 18px;">{{student.dateOfBirth | date}}</span>
                        </div>
                        <div class="field mb-4 col-12 md:col-6">
                            <label for="birthPlace" class="font-bold text-900 mr-4" style="font-size: 18px;">Birth Place  :  </label>
                            <span id="birthPlace" style="font-size: 18px;">in {{student.birthPlace}}</span>
                        </div>
                        <div class="field mb-4 col-12 md:col-6">
                            <label for="email" class="font-bold text-900 mr-4" style="font-size: 18px;">Email  :  </label>
                            <span id="email" style="font-size: 18px;">{{student.email}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>
