<p-toast key="tst2"></p-toast>
<p-toast key="tst3"></p-toast>
<div> <span class="text-900 font-medium text-4xl mb-4">List of</span><span class="text-primary font-medium text-4xl mb-4"> Teachers</span></div>
<br>
<p-progressBar *ngIf="teachers === undefined || teachers.length === 0" mode="indeterminate" [style]="{ height: '6px' }" />
<div class="card" *ngIf="teachers !== undefined">
    <p-messages [value]="msgs"></p-messages>
    <p-table #dt [value]="teachers" [paginator]="false" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="caption">
            <form [formGroup]="searchForm" (ngSubmit)="applySearch()">
                <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
                    <span class="p-input-icon-left w-full sm:w-15rem flex-order-1 sm:flex-order-0">
                        <input pInputText type="text" placeholder="Search by Code" class="w-full" formControlName="teacherCode" style="padding: 0.7rem 0.5rem;"/>

                    </span>

                    <span class="p-input-icon-left w-full sm:w-15rem flex-order-1 sm:flex-order-0">
                        <input pInputText type="text" placeholder="Search by First Name" class="w-full" formControlName="firstName" style="padding: 0.7rem 0.5rem;"/>

                    </span>
                    <span class="p-input-icon-left w-full sm:w-15rem flex-order-1 sm:flex-order-0">
                        <input pInputText type="text" placeholder="Search by Last Name" class="w-full" formControlName="lastName" style="padding: 0.7rem 0.5rem;"/>

                    </span>
                    <span class=" w-full sm:w-15rem flex-order-1 sm:flex-order-0">
                        <input pInputText type="text" placeholder="Search by CIN" class="w-full" formControlName="cin" style="padding: 0.7rem 0.5rem;"/>

                    </span>
                    <div class="flex flex-wrap gap-2 align-items-center justify-content-around">
                        <button type="submit" pButton  icon="pi pi-search" class="p-button-outlined w-full sm:w-auto flex-order-2 sm:flex-order-1"></button>
                        <button (click)="navigateToCreateTeacher()" pButton class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1" icon="pi pi-plus" label="Add"></button>
                        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help flex-order-2" (click)="dt.exportCSV()"></button>
                    </div>
                </div>
            </form>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="Code" class="white-space-nowrap" style="width:25%">Code <p-sortIcon field="Code"></p-sortIcon></th>
                <th pSortableColumn="First Name" class="white-space-nowrap" style="width:25%">First Name <p-sortIcon field="First Name"></p-sortIcon></th>
                <th pSortableColumn="Last Name" class="white-space-nowrap" style="width:25%">Last Name <p-sortIcon field="Last Name"></p-sortIcon></th>
                <th pSortableColumn="cin" class="white-space-nowrap" style="width:25%">cin <p-sortIcon field="cin"></p-sortIcon></th>

                <th pSortableColumn="Email" class="white-space-nowrap" style="width:25%">Email <p-sortIcon field="Email"></p-sortIcon></th>
                <th pSortableColumn="Specialty" class="white-space-nowrap" style="width:25%">Specialty <p-sortIcon field="Specialty"></p-sortIcon></th>
                <th pSortableColumn="Specialty Code" class="white-space-nowrap" style="width:25%">Specialty Code <p-sortIcon field="Specialty"></p-sortIcon></th>
                <th class="white-space-nowrap" style="width:25%"></th>
                <th class="white-space-nowrap" style="width:25%"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-teacher>
            <tr>
                <td>{{teacher.teacherCode}}</td>
                <td>{{teacher.firstName}}</td>
                <td>{{teacher.lastName}}</td>
                <td>{{teacher.cin}}</td>
                <td>{{teacher.email}}</td>
                <td>{{teacher.specialty?.specialtyName}}</td>
                <td>{{teacher.specialty?.specialtyCode}}</td>
                <td>
                    <p-dialog header="Confirmation" [(visible)]="displayDialog[teacher.teacherCode]" [modal]="true" showEffect="fade" [style]="{width: '30vw'}" [breakpoints]="{'960px': '75vw'}">
                        <p class="line-height-3 m-0">
                            <i class="pi pi-exclamation-triangle" style="font-size: 25px"></i> Are you sure you want to delete the teacher {{teacher.teacherCode}}?
                        </p>
                        <ng-template pTemplate="footer">
                            <button pButton icon="pi pi-check" (click)="deleteTeacher(teacher.teacherCode)" label="Yes" class="p-button-outlined"></button>
                        </ng-template>
                    </p-dialog>
                    <button (click)="displayDialog[teacher.teacherCode]=true" pButton icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined"></button>
                </td>
                <td>
                    <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success p-button-outlined" (click)="navigateToUpdateTeacher(teacher.teacherCode)"></button>
                </td>
                <td style="text-align: center;">
                    <button pButton pRipple type="button" icon="pi pi-eye" class="p-button-rounded p-button-text p-button-plain" (click)="navigateToDetails(teacher.teacherCode)"></button></td>
                <td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="0"
        [rows]="10"
        [totalRecords]="totalElements"
        [rowsPerPageOptions]="[10, 20, 30]" />
</div>
